/* .navbar_header {
    background-color: #000;
    /* border-radius: 0.5rem; */
/* margin: 0.5rem 0 0.5rem 0.5rem; 
    height: 100%;
    color: #fff;
}

.row {
    margin-right: 0 !important;
}

.row>* {
    padding-right: 0;
}

.left {
    margin: 1rem 0;
}

.right {
    margin: 1rem 0;
}

.left form {
    width: 30%;
}

.search {
    display: flex;
    align-items: center;
    padding: 3px;
}
.form-control{
    background-color: #202020;
}

input::placeholder {
    color: gray;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #202020;
}

.dropdown-menu-dark {
    position: absolute;
    top: 17px;
}

.language {
    margin: 0;
}

.name i {
    margin: 0 0.5rem;
}

.btn_language {
    background: transparent;
    border: none;
    color: #fff;
}

.notification {
    margin: 0 0.4rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.profile_logo::after {
    content: "";
    display: block;
    height: 45px;
    width: 45px;
    margin: 0 0.5rem;
    background: #323232;
    border-radius: 50%;
}

.profile_name {
    margin-right: 1rem;
}

.profile_logo_dropdown::after {
    content: "";
    display: block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #323232;
    margin-right: 0.3rem;
} */

/* Google Fonts Import Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #111111;
    z-index: 100;
    transition: all 0.5s ease;
    border-right: 1px solid gray;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;

}

.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: hidden;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover ,.sidebar .nav-links li .iocn-link:hover{
    background: #F7426F;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    /* background: #F7426F; 
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li a .link_name{
    font-size: 20px;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}
.home-section {
    position: relative;
    /* background: #E4E9F7; 
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
    margin-top: 0;
    position: absolute;
    top: 0;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #fff;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 600px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }

    .form-control {
        display: none;
    }

    .notification {
        display: none;
    }

    .language {
        display: none;
    }
}

/* @media only screen and (max-width: 800px) {
    .form-control{
        width: 100px;
    }
} 
*/

a {
  text-decoration: none;
  color: #000;
}

.expovent__sidebar.collapsed~.page__body-wrapper .app__header__area {
  width: calc(100% - 78px);
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed~.page__body-wrapper .app__header__area {
    width: calc(100% - 0px) !important;
  }
}

.expovent__sidebar.collapsed~.page__body-wrapper {
  width: calc(100% - 78px);
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed~.page__body-wrapper {
    width: calc(100% - 0px) !important;
  }
}

.expovent__sidebar.collapsed~.app__header__area {
  left: 260px;
  width: calc(100% - 260px);
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed~.app__header__area {
    width: calc(100% - 0px) !important;
  }
}

.app__slide-wrapper {
  padding: 0 30px;
  margin-top: 76px;
  position: relative;
  z-index: -1;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px),
only screen and (min-width: 1200px) and (max-width: 1399px),
only screen and (min-width: 992px) and (max-width: 1199px),
(max-width: 575px) {
  .app__slide-wrapper {
    padding: 0 20px;
  }
}

.page__body-wrapper {
  position: absolute;
  inset-inline-end: 0;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  top: 0;
  z-index: 1;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .page__body-wrapper {
    width: calc(100% - 0px);
  }
}

.expovent__sidebar {
  /* background-image: url(''); */
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #fff;
  padding-bottom: 0px;
  padding: 0 14px;
  z-index: 99;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 110px;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar {
    inset-inline-start: -260px;
  }
}

.expovent__sidebar__inner {
  height: 100%;
}

.expovent__sidebar .logo-details span {
  font-size: 1.3rem;
  font-weight: bold;
}

.expovent__sidebar .log__smnall {
  position: absolute;
  left: 44%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.expovent__sidebar .logo__white {
  opacity: 0;
  visibility: hidden;
}

.expovent__sidebar::before {
  position: absolute;
  content: "";
  height: 76px;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  border-right: 1px solid #d9d9d9;
}

.expovent__sidebar.collapsed {
  width: 78px;
  position: fixed;
}

.expovent__sidebar.collapsed .dlabnav .metismenu .has-arrow::after {
  display: none;
}

.expovent__sidebar.collapsed .dlabnav .metismenu ul {
  transition: all 0.2s ease-in-out;
  position: absolute;
  inset-inline-start: 75px;
  top: 0;
  width: 15rem;
  z-index: 200;
  margin-left: 0;
  height: auto !important;
  border: 0;
  background: #fff;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0px 4px 100px rgba(255, 255, 255, 0.15);
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed .dlabnav .metismenu ul {
    position: inherit;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
    background: transparent;
    box-shadow: none;
  }
}

.expovent__sidebar.collapsed .dlabnav .metismenu li a {
  color: #000;
}
.expovent__sidebar.collapsed .dlabnav .metismenu li a:hover  {
  color: #fff;
}

.expovent__sidebar.collapsed .dlabnav .metismenu li .nav-text {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed .dlabnav .metismenu li .nav-text {
    opacity: 1;
    visibility: visible;
  }
}
.expovent__sidebar .dlabnav .metismenu li ul li a{
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.3s ease-out;
}
.expovent__sidebar .dlabnav .metismenu li ul li a:hover i{
  background: #F50963;
  color: #fff;
}
.expovent__sidebar .dlabnav .metismenu li ul li a:hover {
  background: #F50963;
  color: #fff;
}

.expovent__sidebar.collapsed .sidebar__copyright p {
  opacity: 0;
}

.expovent__sidebar.collapsed .sidebar__profile {
  padding-inline-start: 15px;
}

.expovent__sidebar.collapsed .sidebar__profile .links_name {
  opacity: 0;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed .sidebar__profile .links_name {
    opacity: 1;
  }
}

.expovent__sidebar.collapsed .logo__white {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed .logo__white {
    opacity: 0;
    visibility: hidden;
  }
}

.expovent__sidebar.collapsed .log__smnall {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px),
only screen and (min-width: 768px) and (max-width: 991px) {
  .expovent__sidebar.collapsed .log__smnall {
    opacity: 1;
    visibility: visible;
  }
}

.expovent__sidebar.collapsed .sidebar__inner {
  overflow: visible;
}

.expovent__sidebar.collapsed .sidebar__thumb {
  display: none;
}

.expovent__sidebar.open {
  width: 500px;
  inset-inline-start: 0;
}

.expovent__sidebar .logo-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 76px;
  /* border-bottom: 0.2px solid rgb(103, 102, 102); */
}

.sidebar__inner {
  margin-top: 20px;
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar__inner::-webkit-scrollbar {
  display: none;
}

.dlabnav .metismenu {
  display: flex;
  flex-direction: column;
  padding: 0 17px;
}

.dlabnav .metismenu>li>a i {
  color: #000;
}

.dlabnav .metismenu>li>a:hover i {
  /* background: red; */
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
}
.dlabnav .metismenu>li a>.menu-icon {
  font-size: 1.3rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0;
  height: auto;
  width: auto;
  text-align: center;
  border-radius: 0.125rem;
  line-height: 1;
  border-radius: 0.125rem;
}

.dlabnav .metismenu>li>a {
  /* width: 13rem; */
  cursor: pointer;
  gap: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.dlabnav .metismenu>li>a i {
  height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #000;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
}

#menu>li>a>span {
  transition: all 0.3s ease-out;
  margin-top: 5px;
}
.dlabnav .metismenu li {
  position: relative;
  list-style: none;
  margin-bottom: 12px;
}

.dlabnav .metismenu li:last-child {
  margin-bottom: 0;
}

.dlabnav .metismenu ul {
  transition: max-height 5s ease-in-out;
  position: relative;
  z-index: 1;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.dlabnav .metismenu ul a::before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 5s ease-out 0s;
  -moz-transition: all 5s ease-out 0s;
  -ms-transition: all 5s ease-out 0s;
  -o-transition: all 5s ease-out 0s;
  transition: all 5s ease-out 0s;
}

.dlabnav .metismenu ul li a {
  position: relative;
  padding-inline-start: 1.375rem;
  height: 50px;
  display: block;
  line-height: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  color:#000;
}

.dlabnav .metismenu ul li a:before {
  position: absolute;
  content: none;
  height: 0.125rem;
  width: 0.5rem;
  top: 50%;
  left: 1.75rem;
  border-radius: 3.75rem;
  transform: translateY(-50%);
}

.dlabnav .metismenu .has-arrow:after {
  position: absolute;
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  inset-inline-end: 1em;
  transform: rotate(-45deg) translate(0, -50%);
  transform-origin: center;
  /* top: 6%; */
  transition: all 0.3s ease-out;
  transform: rotate(-225deg) translate(0, -50%);
}

.dlabnav .metismenu>li:hover>a{
  background: #F50963;
  color: #fff;
}

.dlabnav .metismenu>li:hover>a i {
  color: var(--clr-gradient-1);
}

.dlabnav .metismenu>li:focus>a {
  background: var(--clr-gradient-1);
  color: #000;
}

.dlabnav .metismenu .has-arrow[aria-expanded=true]:after,
.dlabnav .metismenu .mm-active>.has-arrow:after {
  transform: rotate(-135deg) translate(0, -50%);
}

.sidebar__thumb img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  width: 100%;
}

.sidebar__profile {
  padding-left: 10px;
}

.sidebar__profile a {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flexbox;
  align-items: center;
  gap: 10px;
  color: #000;
}

.sidebar__profile a i {
  height: inherit;
  line-height: initial;
  min-width: inherit;
  font-size: 18px;
}

.sidebar__profile a:hover {
  color: var(--clr-theme-1);
}

.copyright__text {
  color: #111111;
  margin-bottom: 0;
}

.sidebar__copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.sidebar__copyright p {
  margin-bottom: 0;
  color: #111111;
  margin-top: 15px;
}

.copyright__text {
  color: #111111;
  margin-bottom: 0;
}

.sidebar__copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.sidebar__copyright p {
  margin-bottom: 0;
  color: #000;
  margin-top: 15px;
}

.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.mainDashboard {
  margin: 1rem 2rem;
}

.widget {
  margin-top: 2rem;
}

.widget_first,
.widget_second,
.widget_third,
.widget_fourth {
  margin-bottom: 1rem;
}

.chartprogress {
  margin-top: 2rem;
}